* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --aside-col: #0284c7;
    --header-col: #f5f5f5;
    --main-col: #cbd5e1;
    --input-col: #6d28d9;
    --img-background: #f59e0b;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    font-size: 1rem;
}

.container > aside{
    font-size: 1.5rem;
    background-color: var(--aside-col);
    color: #fff;
    grid-column: 1/2;
    grid-row: 1/span 5; /* Might have to change span later, to get it to stretch with other content */
    padding: 16px 16px 40px 16px;
}

aside > .dashboard-heading{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
}

ul li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 8px;
}

aside > .home-list{
    margin-bottom: 40px;
}


.container > header{
    background-color: var(--header-col);
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 0.5fr 1fr;

}

header > .search-container{
    grid-column: 1/ span 2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 40px;
    padding-top: 16px;
}

.search-container > .search-bar{
    background-color: grey;
    font-size: 1.5rem;
    color: var(--img-background);;
    border-radius: 16px;
    width: 600px;
    height: 33px;
    grid-column: 1/ span 2;
    opacity: 0.25;
    margin-left: 16px;
}

header > .bell-container{
    display: grid;
    grid-template-columns: repeat(3,100px);
    align-items: center;
    justify-content: center;
    padding-top: 16px;
    grid-column: 3;
}

.cat-img{
    border-radius: 50%;
    background-color: var(--img-background);
    padding: 8px;
}

.hello-container > .cat-img{
    margin-bottom: 8px;
}

header > .hello-container{
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 40px;
    padding-left: 40px;
    padding-top: 16px;
}


.hello-container > .hi-there{
    display: flex;
    flex-direction: column;
}

.hi-there > .hi{
    margin-bottom: 8px;
}

.myname{
    white-space: nowrap;
    font-weight: bold;
    font-size: 1.5rem;
}

.hi-there > .bigger{
    font-weight: bold;
    font-size: 1.5rem;
}

header > .upload-buttons{
    grid-column: 3;
    display: grid;
    grid-template-columns: repeat(3,150px);
}

.upload-buttons > button{
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 16px;
    color: #fff;
    background-color: var(--aside-col);
}

.container > main{
    background-color: var(--main-col);
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}

main > .your-projects,
main > .announcements{
    font-size: 1.5rem;
    display: flex;
    align-items: flex-end;
    margin-bottom: 16px;
}

main > .announcements{
    grid-column: 3 / span 1;
    margin-left: 24px;
}

main > .left-container{
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-column: 1/span 2;
}

.left-container > .card{
    background-color: #fff;
    border-left: 10px solid var(--img-background);;
    border-radius: 8px;
    padding: 24px;
    height: 270px;
    display: grid;

    box-shadow:inset 5px 2px 5px 2px rgba(118, 113, 113, 0.35);
}

.card > p{
    font-size: 1rem;
}

.card > .title{
    font-size: 1.5rem;
    font-weight: bold;
}

.card > ul{
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    align-self: flex-end;
    margin-top: 40px;
}

.right-container > .announcements-container{
    margin-bottom: 24px;
    box-shadow:inset 5px 2px 5px 2px rgba(118, 113, 113, 0.35);
}

.right-container > .announcements-container,
.right-container > .accounts-trending{
    background-color: #fff;
    padding: 32px;
    margin-left: 24px;
    border-radius: 16px;
}

div > .titles{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.title-trending{
    margin-bottom: 16px;
    font-size: 1.5rem;
    margin-left: 24px;
}

.announcements-container > .item{
    border-bottom: 1px grey solid;
    margin-bottom: 16px;
    padding-bottom: 16px;
}

.trending-container{
    background-color: #fff;
    padding: 32px;
    margin-left: 24px;
    border-radius: 16px;
    display: grid;
    grid-template-rows: repeat(4,1fr);
    gap: 16px;

    box-shadow:inset 5px 2px 5px 2px rgba(118, 113, 113, 0.35);
}

.trending-container > .item{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
    justify-content: center;
}

.item > img{
    border-radius: 50%;
    background-color: var(--img-background);
    padding: 8px;
}

.trending-container > .one > img{
    background-color: lightblue;
}

.trending-container > .two > img{
    background-color: var(--img-background)
}

.trending-container > .three > img{
    background-color: lightseagreen;
}

.trending-container > .four > img{
    background-color: pink;
}

.at-description{
    color: grey;
}